@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: "Amatic SC", cursive;
    --text-black: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
    color: var(--text-dark);
    background-color: var(--text-light);
}

header, main, footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1em;
}

header {
    gap: 3em;
    padding-bottom: 2em;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    max-width: 100px;
    width: 100%;
    height: 100%;
    margin-top: 15px;
}

h1 {
    font-family: var(--secondary-font);
    font-size: 3em;
    color: var(--text-black);
    align-self: flex-end;
}

.search-form {
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    width: fit-content;
    background-color: #fff;
}

.search-form [type="text"] {
    border: none;            
    outline: none;            
    padding: 8px 12px;
    font-size: 18px;
}

.search-form [type="image"] {
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
    padding: 4px;                      
    border-left: 2px solid black;  
}

main {
    border-top: 2px solid var(--secondary-color);
    padding-top: 2em;
}

.recipe-item {
    border: 2px solid black;
    border-radius: 20px;
    background-color: var(--secondary-color);
    display: flex;
    flex-flow: column-reverse;
    gap: 1em;
    align-items: flex-start;
    text-align: justify;
    padding: 20px;
    max-width: fit-content;
    width: fit-content;
}

.recipe-item img {
    order: 1;
}

.recipe p {
    display: none;
    order: 2;
}

.tag {
    visibility: visible;
    border: 2px solid black;
    padding: 6px;
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 1.2em;
    max-width: 100px;
    text-align: center;
}

.recipe h2 {
    font-family: var(--secondary-font);
    font-size: 2.5em;
    color: var(--primary-color);
    order: 3;
}

.rating {
    font-size: 1.2em;
    color: gold;
    order: 4;
}

img {
    max-width: 100%;
    height: auto;
}

footer .social {
    display: flex;
    gap: 2em;
    margin-top: 1em;
}

footer img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 10px;
}

.flaticon a {
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 12px;
}

@media (min-width: 600px) {
    h1 {
        font-size: 4em;
    }

    .search-form {
        width: 80%;
        justify-content: space-between;
    }

    .recipe-item {
        flex-flow: row-reverse;
        gap: 1em;
        text-align: left;
        overflow: hidden;
        align-items: flex-start;
    }

    .recipe-item img {
        max-width: 50%;
        flex: 1;
        align-self: center;
    }

    .recipe-details {
        flex: 1;
        display: flex;
        flex-flow: column;
        text-align: left;
        justify-content: flex-start;
        padding-left: 1em;
    }

    .recipe p {
        order: 4;
        display: block;
        font-size: 1.2em;
        margin-top: 1em;
        position: relative;
    }

    .tag {
        order: 1;
        position: relative;
    }

    .recipe h2 {
        order: 2;
    }

    .rating {
        order: 3;
    }
}

@media (min-width: 960px) {
    main {
        margin: 0 auto;
        width: 80%;
    }
}
