body {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.dark {
    color: #eee;
    background-color: #121212;
}
.content{
    max-width: 600px;
    margin: auto;
    padding: 50px 100px;
    line-height: 1.5em;
    border: solid black, 1px; 
}
.title {
    text-align: center;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}
h2 {
    color: #006EB6;
    font-size: 18px;
    font-weight: 500;
    border-bottom: solid black;
    border-width: 1px;
}
li {
    margin: 20px 0;
}
.logo {
    display: block;
    width: 150px;
    margin: auto;  
}